.contact{
    margin-left:200px;
}
.wrapper10
{
    width:440px;
    margin-left:300px; 
}
#submit2{
    margin-left:100px;
    width:50%;
    height:35px;
    border:none;
    outline:none;
    border-radius:40px;
    font-size:18px;
    color:white;
    background-color:red;
    font-weight:700;
 
}
