.coupon{
    width:500px;
    height:200px;
    margin-left:350px;
}
.couponcode{
    margin-left:100px;
    margin-top:50px;
    width:300px;
}
.couponcode ::placeholder{
    margin-left:30px;
}
#apply-coupon{

    margin-top:-80px;
    margin-left:190px;
    border:none;
    outline:none;
    border-radius:20px;
    font-size:18px;
    color:white;
    background-color:red;
    font-weight:700;
    padding:2px;
}
.coupon-container {
    text-align: center;
  }
  
  .couponcode {
    /* Add any additional styles for the input if needed */
    margin-bottom: 20px; /* Optional: Add some space between the input and the button */
  }